.header-login {
  background: var(--textBlue) !important;
}
.login-wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10;
  max-width: 583px;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding: 40px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.login-wrapper Form {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.login-wrapper h1 {
  color: var(--textDark) !important;
}
.login-wrapper .btn-submit {
  background: var(--textBlue);
  color: #fff;
  width: 100%;
  width: 100%;
  height: 40px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}
.login-wrapper .span-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login-wrapper .span-wrapper span {
  color: var(--textDark);
  transition: all 0.2s ease-out;
}
.login-wrapper .span-wrapper a {
  color: var(--textBlue);
  transition: all 0.2s ease-out;
}

@media (max-height: 747px) {
  .header-container .btn-1 {
    font-size: 12px;
  }
}

@media (max-width: 404px) {
  .span-wrapper {
    font-size: 12px;
  }
}
