.content-dashboard {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.content-dashboard .content-body {
  max-width: 1150px;
  display: flex;
  margin-top: 127px;
  margin-bottom: 50px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  padding: 50px;
}
.dashboard-wrapper .header h1 {
  color: var(--textDark);
  letter-spacing: -1px;
}
.dashboard-wrapper .body-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn-add-post {
  color: #fff;
  background: var(--textBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: Poppins, sans-serif;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.btn-add-post:hover {
  background: var(--btn-1);
}

.text-top {
  color: var(--textDark);
  font-size: 35px;
  padding: 0 !important;
  margin: 0 !important;
}
.product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 30px;
  background: var(--background);
  padding-bottom: 30px;
}
