.content-1 .content-body {
  gap: 30px;
}

.content-btn {
  display: flex;
  gap: 20px;
}
.content-btn .btn-1 {
  font-size: 16px;
  transition: all 0.2s ease-out;
}
.content-btn .btn-1:nth-child(1) {
  border-radius: 50px;
}
.content-btn .bordered {
  background: none;
  border: 3px solid #fff;
  border-radius: 50px;
}
.content-body .text {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  max-width: 28em;
  transition: all 0.2s ease-out;
}

.content-body .top {
  color: #fff;
}

.selengkapnya span {
  margin: 0;
  font-weight: 600;
}

.content-body span {
  display: flex;
  gap: 5px;
  align-items: center;
}
.content-body span p {
  margin: 2em 0;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.content-body span p:nth-child(1) {
  color: #358bf8;
  font-family: "Quicksand", sans-serif;
  letter-spacing: -1px;
  font-size: 18px;
}

.content-body span p:nth-child(2) {
  font-size: 16px;
  transform: translateY(1px);
}
.selengkapnya {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #01b4eb;
  font-size: 20px;
  cursor: pointer;
}
a {
  text-decoration: none;
}

.home-slider {
  position: relative;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
}

.slick-prev::before,
.slick-next::before {
  position: absolute;
  top: 50%;
  z-index: 99;
}
.slick-prev {
  left: 30px !important;
  z-index: 1;
}
.slick-next:before {
  right: 65px !important;
}

.slick-dots {
  position: absolute;
  bottom: 50px !important;
}
.slick-dots li button {
  position: relative !important;
}
.slick-dots li.slick-active button:before {
  color: #fff !important;
  background: #fff !important;
  content: "";
  height: 10px;
  width: 20px !important;
  top: 50% !important;
  left: 0 !important;
  padding: 0;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}
.slick-dots li button:before {
  color: rgba(255, 255, 255, 0.773) !important;
  background: rgba(255, 255, 255, 0.773) !important;
  content: "" !important;
  height: 10px !important;
  width: 10px !important;
  padding: 0;
  top: 50% !important;
  left: 25% !important;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}
@media (max-height: 807px) {
  .content-1 .content-body,
  .content-1-2 .content-body {
    margin-top: 10em;
  }
  .content-btn {
    margin-top: 1em;
  }
}
@media (max-height: 667px) {
  .content-1 .content-body {
    margin-top: 5em;
  }
  .content-1 .content-body h1 {
    font-size: 25px;
  }
  .content-1 .content-body p {
    font-size: 14px;
  }
  .content-1 .content-body .content-btn .btn-1 {
    font-size: 16px;
  }
  .content-1 .content-body span p {
    font-size: 14px;
  }
  .content-btn {
    margin: 0;
  }
}

@media (max-width: 701px) {
  .content-1 .content-body .content-btn {
    display: flex;
    flex-direction: column;
  }
  .content-btn .btn-1 {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .content-1 .content-body h1 {
    font-size: 30px;
  }
}
