.content-btn {
  display: flex;
  gap: 20px;
  margin-top: 6em;
}
.content-btn .btn-1 {
  font-size: 22px;
}
.content-btn .btn-1:nth-child(1) {
  border-radius: 50px;
}
.content-btn .btn-1:nth-child(2) {
  background: none;
  border: 3px solid #fff;
  border-radius: 50px;
}

.content-body span {
  display: flex;
  gap: 5px;
  align-items: center;
}
.content-body span p {
  margin: 2em 0;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.content-body span p:nth-child(1) {
  color: #358bf8;
  font-family: "Quicksand", sans-serif;
  letter-spacing: -1px;
  font-size: 18px;
}
.content-body span p:nth-child(2) {
  font-size: 16px;
  transform: translateY(1px);
}
.selengkapnya {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #01b4eb;
  font-size: 20px;
  cursor: pointer;
}
