.content-btn {
  display: flex;
  gap: 20px;
  margin-top: 6em;
}
.content-btn .btn-1 {
  font-size: 20px;
}
.content-btn .btn-1:nth-child(1) {
  border-radius: 50px;
}
.content-btn .btn-1:nth-child(2) {
  background: none;
  border: 3px solid #fff;
  border-radius: 50px;
}

.content-body span {
  display: flex;
  gap: 5px;
  align-items: center;
}
.content-body span p {
  margin: 2em 0;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.content-body span p:nth-child(1) {
  color: #358bf8;
  font-family: "Quicksand", sans-serif;
  letter-spacing: -1px;
  font-size: 18px;
}
.content-body span p:nth-child(2) {
  font-size: 16px;
  transform: translateY(1px);
}
.selengkapnya {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #01b4eb;
  font-size: 20px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
/* .burger-menu {
  z-index: 9;
  height: 100vh;
  width: 100vw;
  background: var(--background);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 103px;
  gap: 30px;
}
.menu .header-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu .header-menu a {
  text-decoration: none;
  color: var(--textLight);
  font-weight: 600;
  font-size: 20px;
}
.menu .header-menu .item {
  border-bottom: 0.5px solid var(--textLight);
  font-size: 20px;
  padding: 15px 0;
}
.menu .btn-2 {
  font-size: 16px;
}
.close-icon {
  cursor: pointer;
} */
@media (max-height: 807px) {
  .content-1 .content-body {
    margin-top: 10em;
  }
  .content-btn {
    margin-top: 1em;
  }
}
@media (max-height: 747px) {
  .content-1 .content-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5em;
  }
  .content-1 .content-body h1 {
    font-size: 25px;
  }
  .content-1 .content-body p {
    font-size: 14px;
  }
  .content-1 .content-body .content-btn .btn-1 {
    font-size: 16px;
  }
  .content-1 .content-body span p {
    font-size: 14px;
  }
  .content-btn {
    margin: 0;
  }
}

@media (max-width: 701px) {
  .content-1 .content-body .content-btn {
    display: flex;
    flex-direction: column;
  }
  .content-btn .btn-1 {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .content-1 .content-body h1 {
    font-size: 30px;
  }
}
