.footer-wrap {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100%;
}

.footer-wrap .top {
  margin-top: 5em;
  height: 75%;
  color: #fff;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}
.footer-wrap .top .typography {
}
.footer-wrap .top .typography p {
  color: #fff;
  font-weight: 600;
}
.footer-wrap .top h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  letter-spacing: -0.05em;
  font-size: 60px;
}
.footer-wrap .bottom {
  display: flex;
  border-top: 1px solid #fff;
  justify-content: center;
  width: 100%;
}
.footer-wrap .bottom .bottom-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}
.footer-wrap .bottom .bottom-wrap span {
  color: #fff;
  font-weight: 600;
}
.footer-wrap .bottom .bottom-wrap .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: white;
}
.footer-wrap .bottom .bottom-wrap .icon a {
  color: #fff;
}

@media (max-width: 735px) {
  .footer-wrap .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4em;
  }
  .footer-wrap .top h3 {
    font-size: 20px;
    margin: 0;
  }
}

@media (max-height: 667px) {
  .footer-wrap .top {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-wrap .top h1 {
    font-size: 30px !important;
    margin: 0;
  }
  .footer-wrap .top h3 {
    font-size: 18px;
  }
  .footer-wrap .top .typography p {
    font-size: 12px;
  }
  .bottom .bottom-wrap span {
    font-size: 16px;
  }
  .footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bottom .bottom-wrap {
    margin-bottom: 10px;
  }
}
