.product-preview {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.product-preview .content-body {
  justify-content: start;
  margin-bottom: 80px;
}
.product-preview .category-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.product-preview .category-wrapper .item {
  cursor: pointer;
  background: var(--textLight);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 20px;
  border-radius: 5px;
}

.product-preview .category-wrapper .select {
  background: var(--textBlue);
}
.product-preview .category-wrapper .item span {
  color: #fff;
  font-weight: 600;
  margin: 0;
}
.content-post {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.content-post-body {
  max-width: 1150px;
  display: flex;
  margin-top: 127px;
  margin-bottom: 50px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  min-height: 583px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.post-wrapper .img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
}
.preview-image {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.preview-image .circle {
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--textLight);
  cursor: pointer;
}
.preview-image .close {
  color: #fff;
  display: flex;
}
.preview-image img {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 700px;
}
.post-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-wrapper .img-wrapper span {
  color: var(--textDark);
  font-size: 14px;
}
.post-wrapper .typography {
  display: flex;
  flex-direction: column;
  align-items: center;

  white-space: pre-wrap;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.post-wrapper h1 {
  font-size: 35px;
  color: var(--textDark);
}
@media (max-width: 797px) {
  .post-wrapper h1 {
    text-align: center;
    font-size: 30px;
  }
}
@media (max-width: 610px) {
  .post-wrapper .img-wrapper {
    width: 400px;
    height: 300px;
  }
  .post-wrapper h1 {
    text-align: center;
    font-size: 25px;
  }
}
@media (max-width: 554px) {
  .post-wrapper .img-wrapper {
    width: 200px;
    height: 150px;
  }
  .post-wrapper .typography {
    width: 100%;
  }
  .post-wrapper .typography-body {
    width: 100%;
  }
  .post-wrapper .typography-body p {
    font-size: 12px;
  }
  .post-wrapper h1 {
    text-align: center;
    font-size: 20px;
  }
  .post-wrapper .img-wrapper span {
    font-size: 11px;
    text-align: center;
  }
}
