.main {
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
}
/* img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
} */
.ref-header {
  top: 0;
}

.content-1 {
  background-image: url("../public/images/BG.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  transition: all 0.2s ease-out;
}
.content-2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.content-3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.content-4 {
  background: #1e2b32;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.content-login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.content-body {
  max-width: 1150px;
  display: flex;
  margin-top: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-login .content-body {
  align-items: center;
}

.arrow {
  transition: all 0.2s;
}

.selengkapnya:hover .arrow {
  transform: translateX(10px);
}

@media (max-width: 938px) {
  .content-1 {
    background-image: linear-gradient(
        to bottom,
        rgba(18, 42, 66, 0.5),
        rgba(18, 42, 66, 0.5)
      ),
      url("../public/images/BG.png");
  }
  .footer-wrap .top h1 {
    font-size: 45px;
  }
}

@media (max-width: 800px) {
  .box-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .content-2 {
    max-height: 2000px;
    height: fit-content;
    padding: 30px 30px;
  }
  .content-2 .selengkapnya {
    margin-top: 30px;
  }
  .content-3 {
  }
}
@media (max-width: 935px) {
  .content-3 {
    height: fit-content;
    padding: 30px 30px;
  }
}

/* @media (max-height: 896px) {
  .content-4 .content-body {
    margin-top: 10vh;
  }
} */
